<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include('../templates/header')-%>
    <link rel="stylesheet" href="/stylesheets/cchart.css">
</head>
<body>
    <!-- left hand side cards    -->  
    <canvas id="myChart" style="height: 190px; width: 100%;"></canvas>
    <canvas id="myChart1" style="height: 190px; width: 100%;"></canvas>
    <canvas id="myChart2" style="height: 190px; width: 100%;"></canvas>
    <!-- let side cards ends -->
    <!-- footer inclusion  -->
    <script src="/javascripts/cchart.js"></script>
    <%- include("../templates/footer") -%>

    
</body>
</html>