<html>
  <head>
    <title>Bounding box annotator demo</title>
    <%- include('../templates/header'); -%> 
   <link rel="stylesheet" href="/stylesheets/editor.css">
  </head>
  <body>
    <div class="row">
      <div class="col-sm-2.3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Information:- </h5>
            <b>Instruction:- </b><p class="card-text" id="instruction">Annotation all The cats and dogs in the image</p>
            <b>Task Id:-</b> <p class="card-text" id="taskid">324jh23432423bmnbm234</p>
            <p class="card-text"><b>Urgency:-</b>Day</p>
          </div>
        </div>
        <!-- annotation box code below  -->
          <div class="annotator">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><b> Annotations:-</b></h5>
                <textarea id="annotation_data" name="annotation" rows="15" cols="30" style="font-family:monospace;" readonly></textarea>
                <div class="action">
                  <button type="button" id="reset_button" class="btn btn-danger">Reset</button>  
                  <button type="button" id="submit_button" class="btn btn-success">Success</button>
                </div>
              </div>
            </div>
          </div>
      </div>
        <!-- image annotator handler -->
      <div class="col-7.5">
          <div id="bbox_annotator" style="display:inline-block">
            <div class="image_frame">
              <img class="rounded" id="image" />
            </div>
          </div>
      </div>

      <!-- third columns -->
      <div class="col" style="overflow-x: hidden;">
        <div class="message">
          <div class="card" style="width: 13rem">
            <div class="card-body">
              <h5 class="card-title"><b>Message:-</b></h5>
                <p class="error-msg" id="err-msg"><strong>This field is required...</strong></p>
                <input type="text" class="form-control" name="message" placeholder="Enter your Message..." id="message">
                <button type="button" id="broken_button" class="btn btn-primary">Broken</button>
            </div>
          </div>
        </div>    
        <div class="view-controlle">
          <button type="button" id="zoom-in" class="btn btn-primary">Zoom IN</button><br>
          <button type="button" id="zoom-out" class="btn btn-primary">zoom-Out</button><br>
          <button type="button" id="reset-zoom" class="btn btn-primary">reset-zoom</button>
        </div>
      </div>


    </div>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/bbox_annotator.js"></script>
    <script src="/javascripts/editor.js"></script>
  </body>
</html>