<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <title>welocme to the index page</title> -->
    <%- include('../templates/header'); -%>     <!-- it is irrespective of the relative paath  -->
</head>
<body>
    <h1 class="demo">welcome to  the page of the sscaler ejs templete...</h1>
    
    <!-- foorter inclusion  -->
    <%- include("../templates/footer") -%>
</body>
</html>